body {
    font-family: 'Hammersmith One', sans-serif;
}
.header {
    color: blueviolet;
    text-align: center;
    margin-top: 30px;
}

.btn {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    font-size: 25px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 5px 5px 5px black;
    opacity: 0.8;
}

.btn:focus{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    font-size: 25px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
}

.jumbotron {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(158, 247, 247);
    box-shadow: 10px 10px 5px black;
}

.btn:hover {
    background-color: white;
    color: blueviolet;

}

@media screen and (max-width: 600px) {
    .jumbotron {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .btn {
        background-color: blueviolet;
        color: white;
        padding: 10px;
        font-size: 20px;
        margin: 10px;
        border-radius: 10px;
        font-weight: bold;
        box-shadow: 5px 5px 5px black;
        opacity: 0.8;
    }
    
    .btn:focus{
        background-color: blueviolet;
        color: white;
        padding: 10px;
        font-size: 20px;
        margin: 10px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 30px;
    }
}